.vscode/**
.vscode-test/**
out/**
node_modules/**
.github/**
playground/**
!res
src/**
.gitignore
.yarnrc
scripts/**
eslint.config.js
tsup.config.ts
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
