.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/@vscode/webview-ui-toolkit
!node_modules/@vscode/codicons
!node_modules/sharp
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
