.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/@vscode/webview-ui-toolkit
!node_modules/@vscode/codicons

!node_modules/@img/
!node_modules/semver
!node_modules/detect-libc
!node_modules/color
!node_modules/color-string
!node_modules/color-name
!node_modules/color-convert
!node_modules/simple-get
!node_modules/tar-fs
!node_modules/tunnel-agent
!node_modules/prebuild-install
!node_modules/node-addon-api
!node_modules/simple-swizzle
!node_modules/is-arrayish
!node_modules/lru-cache
!node_modules/yallist

!assets
!src/broma/
src/**
.gitignore
.yarnrc
webpack.config.js
webpack.config.ts
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
